In [33]:
# Small debugging to allow sklearn importing
import sys
sys.path.append('/usr/local/lib/python3.8/site-packages')
# -------------------------
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv('data/Shakespeare_data.csv')

 ## Cleaning Data

1. Replace NaN in LineNumber and SceneLine with 0
2. Replace NaN in Player with "---"

In [12]:
df["PlayerLinenumber"] = df["PlayerLinenumber"].fillna(0)

In [13]:
df['ActSceneLine'] = df['ActSceneLine'].fillna('0.0.0')

In [14]:
df['Player'] = df['Player'].fillna("---")

# Feature Engineering

1. Parse the data into separate data frames by Play
2. something else

In [15]:
grouped = df.groupby('Play')

**Convert groupedby Play data into separate data frames**

In [16]:
for i in grouped.Play.unique():
    df_name = i[0].replace(" ", "_") + "_df"
    globals()[df_name] = grouped.get_group(i[0])

**Split the dataframe's ActSceneLine into three separate columns**

In [17]:
temp = df["ActSceneLine"].str.split(".", n = 2, expand = True)
df["Act"]= temp[0] 
df["Scene"]= temp[1] 
df["Line"]= temp[2]

**Remove old ActSceneLine column**

In [18]:
df.drop(columns =["ActSceneLine"], inplace = True)

In [35]:
df.head(10)

,Dataline,Play,PlayerLinenumber,Player,PlayerLine,Act,Scene,Line
0,1,Henry IV,0.0,---,ACT I,0,0,0
1,2,Henry IV,0.0,---,SCENE I. London. The palace.,0,0,0
2,3,Henry IV,0.0,---,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ...",0,0,0
3,4,Henry IV,1.0,KING HENRY IV,"So shaken as we are, so wan with care,",1,1,1
4,5,Henry IV,1.0,KING HENRY IV,"Find we a time for frighted peace to pant,",1,1,2
5,6,Henry IV,1.0,KING HENRY IV,And breathe short-winded accents of new broils,1,1,3
6,7,Henry IV,1.0,KING HENRY IV,To be commenced in strands afar remote.,1,1,4
7,8,Henry IV,1.0,KING HENRY IV,No more the thirsty entrance of this soil,1,1,5
8,9,Henry IV,1.0,KING HENRY IV,Shall daub her lips with her own children's bl...,1,1,6
9,10,Henry IV,1.0,KING HENRY IV,"Nor more shall trenching war channel her fields,",1,1,7